<div class="max-w-2xl mx-auto mt-20 p-8 bg-gradient-to-br from-yellow-400 to-orange-500 rounded-lg shadow-lg text-white">
  <h2 class="text-3xl font-bold mb-8 text-center">Welcome {{username}}</h2>

  <img src="/images/person.svg" alt="Lego Man" class="mx-auto my-4" style="filter: brightness(0) saturate(100%) invert(1);">

  <div class="mx-auto my-4" style="width:100%; max-width:300px; border:2px solid white; border-radius:4px; height:20px; background: transparent;">
    <div style="background: white; height: 100%; border-radius: 4px;" [style.width.%]="healthBar"></div>
  </div>

  <div class="mb-6 text-center">
    <button
      class="w-full py-3 px-6 bg-gradient-to-r from-yellow-400 to-orange-600 text-white font-semibold rounded-lg shadow-lg hover:from-yellow-500 hover:to-orange-500 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2 transition ease-in-out duration-300 transform hover:scale-105"
      (click)="onLogout()">
      Logout
    </button>
    <button
      class="w-full py-3 px-6 bg-gradient-to-r from-orange-600 to-yellow-400 text-white font-semibold rounded-lg shadow-lg hover:from-yellow-500 hover:to-orange-500 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2 transition ease-in-out duration-300 transform hover:scale-105"
      (click)="onSicknessQuestionnaire()">
      Sickness questionnaire
    </button>
  </div> 
</div>