<div class="fixed inset-0 flex items-center justify-center bg-transparent z-50" *ngIf="disease">
  <div class="max-w-2xl mx-auto mt-20 p-8 bg-gradient-to-br from-blue-400 to-red-500 rounded-lg shadow-lg text-white relative">
    <button (click)="onClose()" class="absolute top-2 right-2 text-2xl leading-none text-white">&times;</button>
    <h2 class="text-2xl font-bold mb-4">{{ disease.diseaseName }}</h2>
    <p class="mb-2"><strong>Type:</strong> {{ disease.type }}</p>
    <p class="mb-2"><strong>Heart Rate:</strong> {{ disease.heartRate }}</p>
    <p class="mb-2"><strong>Breath Rate:</strong> {{ disease.breathRate }}</p>
    <p class="mb-2"><strong>Blood Pressure:</strong> {{ disease.bloodPressure }}</p>
    <p class="mb-2"><strong>Duration:</strong> {{ disease.duration }}</p>
    <p class="mb-2"><strong>Fever:</strong> {{ disease.fever }}</p>
    <p class="mb-2"><strong>Infectious:</strong> {{ disease.infectious }}</p>
    <p class="mb-2"><strong>Incubation Time:</strong> {{ disease.incubationTime }} days</p>
    <p class="mb-2"><strong>Period of Illness:</strong> {{ disease.periodOfIllness }} days</p>
    <p class="mb-2"><strong>Symptoms:</strong> {{ disease.symptoms.join(', ') }}</p>
    <p class="mb-2"><strong>Medicine:</strong> {{ medicine.name }}</p>
  </div>
</div>
