<div class="navbar bg-gradient-to-r from-yellow-400 to-orange-600 text-white shadow-lg fixed top-0 w-full z-1000">
  <canvas #canvas style="display: none;"></canvas> <!-- Hide canvas if not needed -->
  <nav class="max-w-7xl mx-auto p-4 z-10 relative">
    <ul class="flex space-x-4">
      <li><a routerLink="/homepage" class="hover:text-yellow-300 text-lg">Home</a></li>
      <li><a routerLink="/questionpage" class="hover:text-yellow-300 text-lg">Question Page</a></li>
    </ul>
  </nav>
</div>
<div class="mt-16"></div>
